*.class
*.classpath
*.project
*.jar

# /webserver/

# /webserver/config
/webserver/config/development.js
/webserver/config/production.js

# /webserver/node_modules
/webserver/node_modules

# /webserver/ui/assets/dependencies
/webserver/ui/assets/dependencies
