body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.list-group {
    max-height: 250px;
    overflow-y:scroll;
}

.btn-group-wrap {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #E2E5E5;
    margin: 5px;
}

.selected{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #E2E5E5;
}


.attribute-row {
    margin-right: 0px;
}

.attribute {

}

.cancel-update{
    padding: 20px;
}

.cancel{
    margin-right: 20px;
}

.groupBy-selected {
    color: #3c763d;
    background-color: #dff0d8;
}

.column-selected {
    color: #31708f;
    background-color: #c4e3f3;
}

.tab-content{
    padding-left: 20px;
    height: 500px;
}

.progress{
    margin-left: 20px;
}

#collapseOne{
    overflow-x:scroll;
    max-height: 300px;
    overflow-y:scroll;
}

.vis-row{
    background-color: #EBF5FF;
    padding: 10px;
    
}

.tab-pane {
    overflow-x: auto;
    overflow-y: hidden;
}
