body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.list-group {
    max-height: 400px;
    overflow-y:scroll;
}

.btn-group-wrap {
    text-align: center;
    padding-bottom: 20px;
}

.attribute-row {
    margin-right: 0px;
}

.attribute {

}

.groupBy-selected {
    color: #3c763d;
    background-color: #dff0d8;
}

.column-selected {
    color: #31708f;
    background-color: #c4e3f3;
}

.tab-content{
    padding-left: 20px;
    height: 400px;
}

#collapseOne{
    overflow-x:scroll;
}

.vis-row{
    background-color: #EBF5FF;
    padding: 10px;
    
}

.tab-pane {
    overflow-x: auto;
    overflow-y: hidden;
}
