.visualization div{
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
.chart rect{
    fill: steelblue;
    stroke: white;
}

.bar {
    fill: steelblue;
}

.bar.update {
    fill: brown;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.dotted-min {
    stroke-dasharray: 5,5;
}

path.dotted-max {

    stroke-dasharray: 5,5;
}

